/*#bling{
  margin: 0;
  padding: 0:
  background-attachment: fixed;
  background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMTU1NTUxODA2Nl5BMl5BanBnXkFtZTcwNTQ3NDkwNA@@._V1_UY100_CR13,0,100,100_AL_.jpg")
  font-family: sans-serif, Arial;
  background-image: url("paper.gif");
  opacity: 0.2;
  background-color: #cccccc;
}*/
/*html{
  height: 100%;
}*/

body{
  background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMTU1NTUxODA2Nl5BMl5BanBnXkFtZTcwNTQ3NDkwNA@@._V1_UY100_CR13,0,100,100_AL_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%;
  width: 100%;*/
  /*opacity: 0.2;*/
}


.header{
  height: 100px;
  margin: 15% auto;
  margin-top: 50px
  padding: 20px;
  color: black;
  width: 800px;
  background-color: tan;
  border: 3px solid black;
  border-radius: 15px 50px;
  text-align: center;
}

h1 {
  color: black;
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
}

#startButton{
  background-color: blue;
  display: inline;
  color: white;
  width: 100px;
  margin: auto;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
}

/*want a background gif from hand em high with music from BAD - an afterthgought
*/
.container{
  /color: black;
  font-style: bold;
  font-family: sans-serif;
  text-align: center;
  width: 800px /*50%*/;
  height: 400px;
  border-radius: 15px 50px;
  background-color: grey;
  border: 3px solid black;
  padding: 20px;
  /*display: block;*/
  margin: 15% auto;
  position: relative;
  overflow: hidden;
}
  /*background-color: white;
  justify-content: center;
  align-items: flex-center;*/

.imgPlace{
    margin-left: 30px;
    width: 75px;
    float: left;
    overflow: hidden;
}

.imgPlace img{
  position: relative;
}

.wordPlace{
  margin: 50px 0px 0px 150px;
}

.cluePlace{
  margin: 130px 0px 0px 150px;
}

.guesses{
  margin: 20px 0px 0px 150px;
}

.feedback{
  margin: 20px 0px 0px 150px;
  font-size 28px;
  color: black;
}

.tile{

}


/*#letterOpts a{
  color: white;
  background-color: blue;
  font-family: sans-serif;
  border: 1px solid black;
  padding: 5px;
  border radius: 10px;
  cursor: progress;
}*/

/*a *(
  color: white;
  background-color: blue;
  )*/

/*#letterOpts a:hover{
  color: red;
  background-color: yellow;
}

#letterOpts a .off{
  color: black;
  background-color: black;
}*/

/*button{
  background-color: blue;
  display: inline;
  color: white;
  width: 100px;
  margin: auto;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
}*/



/*.game_board{
  background-color: tan;
  align-items: flex-end;
}

._display{
  background-color: brown;
  display: flex
  flex-direction: column
  justify-content: flex-end;
}

.counter{
  background-color: red;
  flex direction: column;
  justify-content: center;
  align-itmes: center;
}*/

/*GO BACK ONCE WORKING AND REDO LAYOUT TO THE EXAMPLE I HAVE DRAWN OUT*/
